<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js Day 7 class</title>
</head>
<body>
    <h1>Demo on EJS templating</h1>
    <a href="/products">Products</a>
</body>
</html>